<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Application specific settings-->
    <add  key="jsonTemplate" value="TestSuite\Node\Templates\input.json"/>
    <add key="createSpecJson" value="TestSuite\Node\BAT\CreateSpecJson.bat"/>
    <add key="jsfiles" value="TestSuite\Node\JSFiles"/>
    <add key="inputjson" value="TestSuite\Node\JSFiles\input.json"/>
    <add key="jsuitejson" value="TestSuite\Node\output\jsuite.json"/>
    <add key="buildTemplate" value="TestSuite\Node\output\jsuite.json"/>
    
    <!--Application path settings-->
    <add key="basePath" value=""/>
    <add key="sourcePath" value=""/>
    <add key="testPath" value=""/>
    <add key="libPath" value=""/>
    
    <!--Karma config settings-->
    <add key="buildInput" value="TestSuite\Karma\KarmaBuild"/>
    <add key="buildOutput" value="KarmaBuild"/>
    <add key="karmaBase" value="TestSuite\Karma"/>
    <add key="karmaconfig" value="karmaMainConfig.js"/>
    <add key="karmaRequireconfig" value="karmaRequireConfig.js"/>
    <add key="testExtn" value="*.spec.js;*.test.js"/> <!--For multiple extn seperate with ";". Eg., "*.spec.js;*.test.js" -->
    <add key="karmabat" value="TestSuite\Karma\KarmaBat.bat"/>
    
    <!--Karma report path setting-->
    <add key="xmlReportFile" value="dist\reports\testing\unit\xml\karma-unit-test-report.xml"/>
    <add key="htmlReportFile" value="dist\reports\testing\unit\html\karma-unit-test-report.html"/>
    <add key="cobReportPath" value="dist\reports\testing\unit\coverage\cobertura"/>
    <add key="lcovReportPath" value="dist\reports\testing\unit\coverage\lcov"/>
    
    <!--Jasmine config setting-->
    <add key="jasmineBase" value="TestSuite\jasmine"/>
    <add key="jasmineRequireconfig" value="jasmineRequireConfig.js"/> <!--Your requirejs config file-->
    <add key="baseUrl" value="src\common"/>                           <!--Your requirejs config file location-->
    <add key="jasminespecconfig" value="allUnitSpecs.js"/>
    <add key="specrunner" value="Specrunner.html"/>
    <add key="serverBat" value="startserver.bat"/>
    <add key="serverFile" value="web-server.js"/>
    
    <!--Browser path settings-->    
    <add key="browserFile" value="C:\Program Files\Google\Chrome\Application\chrome.exe"/>
    
  
  </appSettings>
</configuration>