<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add  key="jsonTemplate" value="\TestSuite\Node\Templates\input.json"/>
    <add key="karmabat" value="\TestSuite\Node\BAT\karmaBat.bat"/>
    <add key="jsfiles" value="\TestSuite\Node\JSFiles"/>
    <add key="inputjson" value="\TestSuite\Node\JSFiles\input.json"/>
  </appSettings>
</configuration>